#Border1 img{
width:90px;
height:80px;
}

#Title{text-align:center;
font-size:44px;}

#Title img {
width:300px;
height:600px;
right:20px;
bottom:20px;
float:right;
position:fixed;
max-width: 320px;
min-width: 100px;  
z-index: 10;
}

body {font-family:"Bold",sans-serif;
}

body{background-color:#4d4d4d;}

#case{margin:auto;}
#case2{text-align:center;}

#img3 img{display:block;
margin:auto;}

#img4 img{display:block;
margin:auto;}

#img4 h1{text-align:center;
font-family:"Bold", sans-serif;
font-size:34px;}

#img4 p{text-align:center;
font-family:"Bold", sans-serif;
font-size:24px;}

#History{text-align:center;
font-family:"Bold",sans-serif
}
#History p{font-size:30px}


#Border1{font-family: "Bold", sans-serif;
border-style:solid;
padding:10px;
border: 2px solid black;
background-color: #3090ab;
}
#Border1 p{font-size:20px;}
#Border1 a{font-size:40px;
margin-right:20px;
display: inline-block
}

#Choice1 a{font-family:"Bold";
font-size:34px;

}
#Choice1{
font-size:24px;
text-align:center;
border:#3399ff 10px;
border-style:solid;
width: 300px;
height: 320px;
border-radius:5px;
display:block;
margin:auto;
font-family:"Bold";
}
#Paragraph1{font-family: "Bold", sans-serif;}
#Choice1 img{
width:250px;
 height:150px;
 display:block;
 margin:auto;}
 
#Choice2 a{
font-family:"Bold";
font-size:34px;
}

#Choice2{
font-size:24px;
text-align:center;
border:#3399ff 10px;
border-style:solid;
width: 300px;
height: 320px;
border-radius:5px;
display:block;
margin:left;
font-family:"Bold", sans-serif;
}
 
#Choice2 img{
width:250px;
height:150px;
display:inline-block;
margin:auto;}

#Choice3 a{
font-family:"Bold",sans-serif;
font-size:34px;

}
#Choice3{
font-size:24px;
text-align:center;
border:#3399ff 10px;
border-style:solid;
width: 300px;
height: 320px;
border-radius:5px;
display:block;
float:right;
font-family:"Bold",sans-serif;
}
 
#Choice3 img{
width:250px;
height:150px;}

#Choice4{
font-size:24px;
text-align:center;
border:#3399ff 10px;
border-style:solid;
width: 300px;
height: 220px;
border-radius:5px;
display:block;
margin:right;
font-family:"Bold",sans-serif;
}
 
#Choice4 a{
font-family:"Bold",sans-serif;
font-size:34px;}
 
#Choice5{
font-size:24px;
text-align:center;
border:#3399ff 10px;
border-style:solid;
width: 300px;
height: 220px;
border-radius:5px;
display:block;
float:right;
font-family:"Bold",sans-serif;
}
 
#Choice5 a{
font-family:"Bold",sans-serif;
font-size:34px;}

#Choice5 img{
width:100px;
height:100px;
display:block;
margin:auto;}